* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ganti font-family menjadi Inter */
    font-family: 'Inter', sans-serif;
}

body {
  background: #f5f0e8;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 280px;
  background: #c4a484;
  color: white;
  padding: 30px 0;
  position: fixed;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 0px;
  margin-bottom: 10px;
  margin-top: 0;
}

.logo-icon {
  font-size: 40px;
}

.logo-icon img {
  width: 90px;
}

.logo-text h1 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-menu {
  list-style: none;
}

.nav-item {
  padding: 14px 26px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 16px;
  border-left: 4px solid transparent;
}
.nav-item a {
  color: rgb(255, 255, 255);
  font-size: 22px;
  text-decoration: none;
}
.nav-item a span {
  font-size: 16px;
  margin-left: 10px;
}

.nav-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.nav-item.active {
  background: rgba(255, 255, 255, 0.15);
  border-left-color: white;
}

.nav-icon {
  font-size: 22px;
  width: 24px;
}
.a {
  color: rgb(255, 255, 255);
}
.btn-primary-rounded {
    padding: 10px 40px;
    border-radius: 50px; /* Melengkung sempurna seperti gambar */
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    font-family: 'Inter', sans-serif;
}